.error {
    color: red;
}


@media (max-width: 768.9px) {
    .masthead h1 {
        font-size: 2rem;
        margin-top: 5rem;
        padding: 0;
    }

    .masthead h3 {
        font-size: 1rem;
        padding: 0;
    }
}